name = "gcx DIYF"
website = "https://github.com/gcxsyyyun/hello-world"
description = "Converted from Hackl0us's Surge lazy rules by Weiyi Kong. Maintaining by Hackl0us."

[RULESET.apple]
name = "Apple 服务优化"
rules = [
    "DOMAIN-SUFFIX, mzstatic.com, DIRECT",
    "DOMAIN, gs.apple.com, PROXY",
    "DOMAIN-SUFFIX, aaplimg.com, DIRECT",
    "DOMAIN-SUFFIX, icloud-content.com, PROXY",
    "DOMAIN-SUFFIX, appsto.re ,PROXY",
    "DOMAIN, beta.itunes.apple.com ,PROXY",
    "DOMAIN-SUFFIX, itunes.apple.com, DIRECT",
    "DOMAIN-SUFFIX, apple.com, DIRECT",
    "DOMAIN-SUFFIX, icloud.com, DIRECT"
]

[RULESET.direct]
name = "国内直连"
rules = [
    "DOMAIN-SUFFIX, cn, DIRECT",
    "DOMAIN-MATCH, -cn, DIRECT",
    "DOMAIN-SUFFIX,126.com,DIRECT",
    "DOMAIN-SUFFIX,126.net,DIRECT",
    "DOMAIN-SUFFIX,127.net,DIRECT",
    "DOMAIN-SUFFIX,163.com,DIRECT",
    "DOMAIN-SUFFIX,360.cn,DIRECT",
    "DOMAIN-SUFFIX,360buyimg.com,DIRECT",
    "DOMAIN-SUFFIX,36kr.com,DIRECT",
    "DOMAIN-SUFFIX,acfun.tv,DIRECT",
    "DOMAIN-SUFFIX,air-matters.com,DIRECT",
    "DOMAIN-SUFFIX,aixifan.com,DIRECT",
    "DOMAIN-SUFFIX,alicdn.com,DIRECT",
    "DOMAIN-SUFFIX,alipay.com,DIRECT",
    "DOMAIN-SUFFIX,alipayobjects.com,DIRECT",
    "DOMAIN-SUFFIX,amap.com,DIRECT",
    "DOMAIN-SUFFIX,autonavi.com,DIRECT",
    "DOMAIN-SUFFIX,baidu.com,DIRECT",
    "DOMAIN-SUFFIX,baidupcs.com,DIRECT",
    "DOMAIN-SUFFIX,bdimg.com,DIRECT",
    "DOMAIN-SUFFIX,bdstatic.com,DIRECT",
    "DOMAIN-SUFFIX,bilibili.com,DIRECT",
    "DOMAIN-SUFFIX,caiyunapp.com,DIRECT",
    "DOMAIN-SUFFIX,clouddn.com,DIRECT",
    "DOMAIN-SUFFIX,cnbeta.com,DIRECT",
    "DOMAIN-SUFFIX,cnbetacdn.com,DIRECT",
    "DOMAIN-SUFFIX,cootekservice.com,DIRECT",
    "DOMAIN-SUFFIX,csdn.net,DIRECT",
    "DOMAIN-SUFFIX,csdnimg.cn,DIRECT",
    "DOMAIN-SUFFIX,ctrip.com,DIRECT",
    "DOMAIN-SUFFIX,dgtle.com,DIRECT",
    "DOMAIN-SUFFIX,dianping.com,DIRECT",
    "DOMAIN-SUFFIX,douban.com,DIRECT",
    "DOMAIN-SUFFIX,doubanio.com,DIRECT",
    "DOMAIN-SUFFIX,duokan.com,DIRECT",
    "DOMAIN-SUFFIX,easou.com,DIRECT",
    "DOMAIN-SUFFIX,ele.me,DIRECT",
    "DOMAIN-SUFFIX,feng.com,DIRECT",
    "DOMAIN-SUFFIX,fir.im,DIRECT",
    "DOMAIN-SUFFIX,frdic.com,DIRECT",
    "DOMAIN-SUFFIX,g-cores.com,DIRECT",
    "DOMAIN-SUFFIX,godic.net,DIRECT",
    "DOMAIN-SUFFIX,gtimg.com,DIRECT",
    "DOMAIN-SUFFIX,hongxiu.com,DIRECT",
    "DOMAIN-SUFFIX,hxcdn.net,DIRECT",
    "DOMAIN-SUFFIX,iciba.com,DIRECT",
    "DOMAIN-SUFFIX,ifeng.com,DIRECT",
    "DOMAIN-SUFFIX,ifengimg.com,DIRECT",
    "DOMAIN-SUFFIX,images-amazon.com,DIRECT",
    "DOMAIN-SUFFIX,ipip.net,DIRECT",
    "DOMAIN-SUFFIX,iqiyi.com,DIRECT",
    "DOMAIN-SUFFIX,jd.com,DIRECT",
    "DOMAIN-SUFFIX,jianshu.com,DIRECT",
    "DOMAIN-SUFFIX,knewone.com,DIRECT",
    "DOMAIN-SUFFIX,le.com,DIRECT",
    "DOMAIN-SUFFIX,lecloud.com,DIRECT",
    "DOMAIN-SUFFIX,lemicp.com,DIRECT",
    "DOMAIN-SUFFIX,luoo.net,DIRECT",
    "DOMAIN-SUFFIX,meituan.com,DIRECT",
    "DOMAIN-SUFFIX,meituan.net,DIRECT",
    "DOMAIN-SUFFIX,mi.com,DIRECT",
    "DOMAIN-SUFFIX,miaopai.com,DIRECT",
    "DOMAIN-SUFFIX,miui.com,DIRECT",
    "DOMAIN-SUFFIX,miwifi.com,DIRECT",
    "DOMAIN-SUFFIX,mob.com,DIRECT",
    "DOMAIN-SUFFIX,netease.com,DIRECT",
    "DOMAIN-SUFFIX,oschina.net,DIRECT",
    "DOMAIN-SUFFIX,ppsimg.com,DIRECT",
    "DOMAIN-SUFFIX,pstatp.com,DIRECT",
    "DOMAIN-SUFFIX,qcloud.com,DIRECT",
    "DOMAIN-SUFFIX,qdaily.com,DIRECT",
    "DOMAIN-SUFFIX,qdmm.com,DIRECT",
    "DOMAIN-SUFFIX,qhimg.com,DIRECT",
    "DOMAIN-SUFFIX,qidian.com,DIRECT",
    "DOMAIN-SUFFIX,qihucdn.com,DIRECT",
    "DOMAIN-SUFFIX,qiniu.com,DIRECT",
    "DOMAIN-SUFFIX,qiniucdn.com,DIRECT",
    "DOMAIN-SUFFIX,qiyipic.com,DIRECT",
    "DOMAIN-SUFFIX,qq.com,DIRECT",
    "DOMAIN-SUFFIX,qqurl.com,DIRECT",
    "DOMAIN-SUFFIX,rarbg.is,DIRECT",
    "DOMAIN-SUFFIX,rr.tv,DIRECT",
    "DOMAIN-SUFFIX,ruguoapp.com,DIRECT",
    "DOMAIN-SUFFIX,segmentfault.com,DIRECT",
    "DOMAIN-SUFFIX,sinaapp.com,DIRECT",
    "DOMAIN-SUFFIX,sogou.com,DIRECT",
    "DOMAIN-SUFFIX,sogoucdn.com,DIRECT",
    "DOMAIN-SUFFIX,sohu.com,DIRECT",
    "DOMAIN-SUFFIX,soku.com,DIRECT",
    "DOMAIN-SUFFIX,sspai.com,DIRECT",
    "DOMAIN-SUFFIX,suning.com,DIRECT",
    "DOMAIN-SUFFIX,taobao.com,DIRECT",
    "DOMAIN-SUFFIX,tenpay.com,DIRECT",
    "DOMAIN-SUFFIX,tmall.com,DIRECT",
    "DOMAIN-SUFFIX,tudou.com,DIRECT",
    "DOMAIN-SUFFIX,umetrip.com,DIRECT",
    "DOMAIN-SUFFIX,upaiyun.com,DIRECT",
    "DOMAIN,update.microsoft.com,DIRECT",
    "DOMAIN-SUFFIX,upyun.com,DIRECT",
    "DOMAIN-SUFFIX,veryzhun.com,DIRECT",
    "DOMAIN-SUFFIX,weibo.com,DIRECT",
    "DOMAIN-SUFFIX,weiphone.net,DIRECT",
    "DOMAIN-SUFFIX,xiami.com,DIRECT",
    "DOMAIN-SUFFIX,xiaomicp.com,DIRECT",
    "DOMAIN-SUFFIX,ximalaya.com,DIRECT",
    "DOMAIN-SUFFIX,xmcdn.com,DIRECT",
    "DOMAIN-SUFFIX,xunlei.com,DIRECT",
    "DOMAIN-SUFFIX,yhd.com,DIRECT",
    "DOMAIN-SUFFIX,yihaodianimg.com,DIRECT",
    "DOMAIN-SUFFIX,yinxiang.com,DIRECT",
    "DOMAIN-SUFFIX,ykimg.com,DIRECT",
    "DOMAIN-SUFFIX,youdao.com,DIRECT",
    "DOMAIN-SUFFIX,youku.com,DIRECT",
    "DOMAIN-SUFFIX,zealer.com,DIRECT",
    "DOMAIN-SUFFIX,zhihu.com,DIRECT",
    "DOMAIN-SUFFIX,zhimg.com,DIRECT",
    "GEOIP, cn, DIRECT"
]

[RULESET.gfwed]
name = "科学上网（绕过GFW）"
rules = [
    "DOMAIN,voa-11.akacast.akamaistream.net,Proxy",
    "DOMAIN,sipml5.org,Proxy",
    "DOMAIN,nytchina.com,Proxy",
    "DOMAIN,nyti.ms,Proxy",
    "DOMAIN,userapi.nytlog.com,Proxy",
    "DOMAIN,video.ap.org,Proxy",
    "DOMAIN,archive.is,Proxy",
    "DOMAIN,bit.ly,Proxy",
    "DOMAIN,www.dmm.com,Proxy",
    "DOMAIN,dw-world.de,Proxy",
    "DOMAIN,mobile01.com,Proxy",
    "DOMAIN,www.nbc.com,Proxy",
    "DOMAIN,dynupdate.no-ip.com,Proxy",
    "DOMAIN,pastebin.com,Proxy",
    "DOMAIN,video.pbs.org,Proxy",
    "DOMAIN,forum.tvb.com,Proxy",
    "DOMAIN,news.tvb.com,Proxy",
    "DOMAIN,news.tvbs.com.tw,Proxy",
    "DOMAIN,x-art.com,Proxy",
    "DOMAIN-SUFFIX,akamaihd.net,Proxy",
    "DOMAIN-SUFFIX,akamai.net,Proxy",
    "DOMAIN-SUFFIX,w.s3.amazonaws.com,Proxy",
    "DOMAIN-SUFFIX,bbc.co.uk,Proxy",
    "DOMAIN-SUFFIX,bbc.com,Proxy",
    "DOMAIN-SUFFIX,bbcchinese.com,Proxy",
    "DOMAIN-SUFFIX,cdninstagram.com,Proxy",
    "DOMAIN-SUFFIX,facebook.com,Proxy",
    "DOMAIN-SUFFIX,facebook.design,Proxy",
    "DOMAIN-SUFFIX,facebook.net,Proxy",
    "DOMAIN-SUFFIX,fb.com,Proxy",
    "DOMAIN-SUFFIX,fb.me,Proxy",
    "DOMAIN-SUFFIX,instagram.com,Proxy",
    "DOMAIN-SUFFIX,m.me,Proxy",
    "DOMAIN-SUFFIX,messenger.com,Proxy",
    "DOMAIN-SUFFIX,oculus.com,Proxy",
    "DOMAIN-SUFFIX,oculuscdn.com,Proxy",
    "DOMAIN-SUFFIX,rocksdb.org,Proxy",
    "DOMAIN-SUFFIX,whatsapp.net,Proxy",
    "DOMAIN-SUFFIX,1e100.net,Proxy",
    "DOMAIN-SUFFIX,abc.xyz,Proxy",
    "DOMAIN-SUFFIX,admob.com,Proxy",
    "DOMAIN-SUFFIX,adsense.com,Proxy",
    "DOMAIN-SUFFIX,agoogleaday.com,Proxy",
    "DOMAIN-SUFFIX,ampproject.org,Proxy",
    "DOMAIN-SUFFIX,android.com,Proxy",
    "DOMAIN-SUFFIX,androidify.com,Proxy",
    "DOMAIN-SUFFIX,api.ai,Proxy",
    "DOMAIN-SUFFIX,appspot.com,Proxy",
    "DOMAIN-SUFFIX,blog.google,Proxy",
    "DOMAIN-SUFFIX,blogspot.com,Proxy",
    "DOMAIN-SUFFIX,blogspot.co.jp,Proxy",
    "DOMAIN-SUFFIX,blogspot.co.kr,Proxy",
    "DOMAIN-SUFFIX,blogspot.hk,Proxy",
    "DOMAIN-SUFFIX,blogspot.sg,Proxy",
    "DOMAIN-SUFFIX,certificate-transparency.org,Proxy",
    "DOMAIN-SUFFIX,chrome.com,Proxy",
    "DOMAIN-SUFFIX,chromecast.com,Proxy",
    "DOMAIN-SUFFIX,chromeexperiments.com,Proxy",
    "DOMAIN-SUFFIX,chromercise.com,Proxy",
    "DOMAIN-SUFFIX,chromestatus.com,Proxy",
    "DOMAIN-SUFFIX,chromium.org,Proxy",
    "DOMAIN-SUFFIX,com.google,Proxy",
    "DOMAIN-SUFFIX,creativelab5.com,Proxy",
    "DOMAIN-SUFFIX,data-vocabulary.org,Proxy",
    "DOMAIN-SUFFIX,debug.com,Proxy",
    "DOMAIN-SUFFIX,deepmind.com,Proxy",
    "DOMAIN-SUFFIX,deja.com,Proxy",
    "DOMAIN-SUFFIX,design.google,Proxy",
    "DOMAIN-SUFFIX,digisfera.com,Proxy",
    "DOMAIN-SUFFIX,domains.google,Proxy",
    "DOMAIN-SUFFIX,environment.google,Proxy",
    "DOMAIN-SUFFIX,feedburner.com,Proxy",
    "DOMAIN-SUFFIX,g.co,Proxy",
    "DOMAIN-SUFFIX,gcr.io,Proxy",
    "DOMAIN-SUFFIX,get.how,Proxy",
    "DOMAIN-SUFFIX,getmdl.io,Proxy",
    "DOMAIN-SUFFIX,ggpht.com,Proxy",
    "DOMAIN-SUFFIX,gmail.com,Proxy",
    "DOMAIN-SUFFIX,gmodules.com,Proxy",
    "DOMAIN-SUFFIX,godoc.org,Proxy",
    "DOMAIN-SUFFIX,golang.org,Proxy",
    "DOMAIN-SUFFIX,goo.gl,Proxy",
    "DOMAIN-SUFFIX,google.cn,Proxy",
    "DOMAIN-SUFFIX,google.com,Proxy",
    "DOMAIN-SUFFIX,google.co.jp,Proxy",
    "DOMAIN-SUFFIX,google.co.kr,Proxy",
    "DOMAIN-SUFFIX,google.co.uk,Proxy",
    "DOMAIN-SUFFIX,google.com.hk,Proxy",
    "DOMAIN-SUFFIX,google.com.sg,Proxy",
    "DOMAIN-SUFFIX,google.com.tw,Proxy",
    "DOMAIN-SUFFIX,google.de,Proxy",
    "DOMAIN-SUFFIX,google.fr,Proxy",
    "DOMAIN-SUFFIX,google.io,Proxy",
    "DOMAIN-SUFFIX,google.it,Proxy",
    "DOMAIN-SUFFIX,google.ru,Proxy",
    "DOMAIN-SUFFIX,googleapis.cn,Proxy",
    "DOMAIN-SUFFIX,googleapis.com,Proxy",
    "DOMAIN-SUFFIX,googleapps.com,Proxy",
    "DOMAIN-SUFFIX,googleartproject.com,Proxy",
    "DOMAIN-SUFFIX,googleblog.com,Proxy",
    "DOMAIN-SUFFIX,googlebot.com,Proxy",
    "DOMAIN-SUFFIX,googlecapital.com,Proxy",
    "DOMAIN-SUFFIX,googlecode.com,Proxy",
    "DOMAIN-SUFFIX,googlecommerce.com,Proxy",
    "DOMAIN-SUFFIX,googledomains.com,Proxy",
    "DOMAIN-SUFFIX,googleearth.com,Proxy",
    "DOMAIN-SUFFIX,googledrive.com,Proxy",
    "DOMAIN-SUFFIX,googlegroups.com,Proxy",
    "DOMAIN-SUFFIX,googlehosted.com,Proxy",
    "DOMAIN-SUFFIX,googleideas.com,Proxy",
    "DOMAIN-SUFFIX,googleinsidesearch.com,Proxy",
    "DOMAIN-SUFFIX,googlelabs.com,Proxy",
    "DOMAIN-SUFFIX,googlemail.com,Proxy",
    "DOMAIN-SUFFIX,googleplay.com,Proxy",
    "DOMAIN-SUFFIX,googleplus.com,Proxy",
    "DOMAIN-SUFFIX,googlesource.com,Proxy",
    "DOMAIN-SUFFIX,googlesyndication.com,Proxy",
    "DOMAIN-SUFFIX,googleusercontent.com,Proxy",
    "DOMAIN-SUFFIX,googlevideo.com,Proxy",
    "DOMAIN-SUFFIX,googleweblight.com,Proxy",
    "DOMAIN-SUFFIX,googlezip.net,Proxy",
    "DOMAIN-SUFFIX,gstatic.com,Proxy",
    "DOMAIN-SUFFIX,gvt0.com,Proxy",
    "DOMAIN-SUFFIX,gvt1.com,Proxy",
    "DOMAIN-SUFFIX,gvt3.com,Proxy",
    "DOMAIN-SUFFIX,gwtproject.org,Proxy",
    "DOMAIN-SUFFIX,html5rocks.com,Proxy",
    "DOMAIN-SUFFIX,iam.soy,Proxy",
    "DOMAIN-SUFFIX,igoogle.com,Proxy",
    "DOMAIN-SUFFIX,itasoftware.com,Proxy",
    "DOMAIN-SUFFIX,like.com,Proxy",
    "DOMAIN-SUFFIX,madewithcode.com,Proxy",
    "DOMAIN-SUFFIX,material.io,Proxy",
    "DOMAIN-SUFFIX,nic.google,Proxy",
    "DOMAIN-SUFFIX,on2.com,Proxy",
    "DOMAIN-SUFFIX,panoramio.com,Proxy",
    "DOMAIN-SUFFIX,picasaweb.com,Proxy",
    "DOMAIN-SUFFIX,pin-cong.com,Proxy",
    "DOMAIN-SUFFIX,polymer-project.org,Proxy",
    "DOMAIN-SUFFIX,questvisual.com,Proxy",
    "DOMAIN-SUFFIX,recaptcha.net,Proxy",
    "DOMAIN-SUFFIX,redhotlabs.com,Proxy",
    "DOMAIN-SUFFIX,registry.google,Proxy",
    "DOMAIN-SUFFIX,savethedate.foo,Proxy",
    "DOMAIN-SUFFIX,schema.org,Proxy",
    "DOMAIN-SUFFIX,shattered.io,Proxy",
    "DOMAIN-SUFFIX,stories.google,Proxy",
    "DOMAIN-SUFFIX,synergyse.com,Proxy",
    "DOMAIN-SUFFIX,teachparentstech.org,Proxy",
    "DOMAIN-SUFFIX,tensorflow.org,Proxy",
    "DOMAIN-SUFFIX,thinkwithgoogle.com,Proxy",
    "DOMAIN-SUFFIX,tiltbrush.com,Proxy",
    "DOMAIN-SUFFIX,waveprotocol.org,Proxy",
    "DOMAIN-SUFFIX,waymo.com,Proxy",
    "DOMAIN-SUFFIX,webmproject.org,Proxy",
    "DOMAIN-SUFFIX,webrtc.org,Proxy",
    "DOMAIN-SUFFIX,whatbrowser.org,Proxy",
    "DOMAIN-SUFFIX,widevine.com,Proxy",
    "DOMAIN-SUFFIX,withgoogle.com,Proxy",
    "DOMAIN-SUFFIX,xn--ngstr-lra8j.com,Proxy",
    "DOMAIN-SUFFIX,youtu.be,Proxy",
    "DOMAIN-SUFFIX,youtube.com,Proxy",
    "DOMAIN-SUFFIX,youtube-nocookie.com,Proxy",
    "DOMAIN-SUFFIX,youtubeeducation.com,Proxy",
    "DOMAIN-SUFFIX,youtubegaming.com,Proxy",
    "DOMAIN-SUFFIX,ytimg.com,Proxy",
    "DOMAIN-SUFFIX,zynamics.com,Proxy",
    "DOMAIN-SUFFIX,nyt.com,Proxy",
    "DOMAIN-SUFFIX,nytcn.me,Proxy",
    "DOMAIN-SUFFIX,nytco.com,Proxy",
    "DOMAIN-SUFFIX,nytimes.com,Proxy",
    "DOMAIN-SUFFIX,nytimg.com,Proxy",
    "DOMAIN-SUFFIX,nytstyle.com,Proxy",
    "DOMAIN-SUFFIX,t.me,Proxy",
    "DOMAIN-SUFFIX,tdesktop.com,Proxy",
    "DOMAIN-SUFFIX,telegram.dog,Proxy",
    "DOMAIN-SUFFIX,telegram.me,Proxy",
    "DOMAIN-SUFFIX,telegram.org,Proxy",
    "DOMAIN-SUFFIX,telegramdownload.com,Proxy",
    "DOMAIN-SUFFIX,yahoo.co.jp,Proxy",
    "DOMAIN-SUFFIX,yahoo.com,Proxy",
    "DOMAIN-SUFFIX,yahoo.com.hk,Proxy",
    "DOMAIN-SUFFIX,yahoo.net,Proxy",
    "DOMAIN-SUFFIX,apkpure.com,Proxy",
    "DOMAIN-SUFFIX,archives.gov,Proxy",
    "DOMAIN-SUFFIX,archive.fo,Proxy",
    "DOMAIN-SUFFIX,archive.org,Proxy",
    "DOMAIN-SUFFIX,bloombergview.com,Proxy",
    "DOMAIN-SUFFIX,c-spanvideo.org,Proxy",
    "DOMAIN-SUFFIX,chinadigitaltimes.net,Proxy",
    "DOMAIN-SUFFIX,cnn.com,Proxy",
    "DOMAIN-SUFFIX,dm530.net,Proxy",
    "DOMAIN-SUFFIX,dmm.co.jp,Proxy",
    "DOMAIN-SUFFIX,dropbox.com,Proxy",
    "DOMAIN-SUFFIX,duckduckgo.com,Proxy",
    "DOMAIN-SUFFIX,dropboxapi.com,Proxy",
    "DOMAIN-SUFFIX,dropboxusercontent.com,Proxy",
    "DOMAIN-SUFFIX,dw.com,Proxy",
    "DOMAIN-SUFFIX,dw.de,Proxy",
    "DOMAIN-SUFFIX,dw-world.com,Proxy",
    "DOMAIN-SUFFIX,economist.com,Proxy",
    "DOMAIN-SUFFIX,fanqianghou.com,Proxy",
    "DOMAIN-SUFFIX,fc2.com,Proxy",
    "DOMAIN-SUFFIX,flipboard.com,Proxy",
    "DOMAIN-SUFFIX,gettyimages.com,Proxy",
    "DOMAIN-SUFFIX,git.io,Proxy",
    "DOMAIN-SUFFIX,gov.tw,Proxy",
    "DOMAIN-SUFFIX,hulu.com,Proxy",
    "DOMAIN-SUFFIX,huluim.com,Proxy",
    "DOMAIN-SUFFIX,idv.tw,Proxy",
    "DOMAIN-SUFFIX,ifanqiang.com,Proxy",
    "DOMAIN-SUFFIX,j.mp,Proxy",
    "DOMAIN-SUFFIX,kakao.com,Proxy",
    "DOMAIN-SUFFIX,kik.com,Proxy",
    "DOMAIN-SUFFIX,imgur.com,Proxy",
    "DOMAIN-SUFFIX,line.me,Proxy",
    "DOMAIN-SUFFIX,line-apps.com,Proxy",
    "DOMAIN-SUFFIX,line-scdn.net,Proxy",
    "DOMAIN-SUFFIX,live.com,Proxy",
    "DOMAIN-SUFFIX,medium.com,Proxy",
    "DOMAIN-SUFFIX,naver.jp,Proxy",
    "DOMAIN-SUFFIX,netflix.com,Proxy",
    "DOMAIN-SUFFIX,nextmedia.com,Proxy",
    "DOMAIN-SUFFIX,nflximg.com,Proxy",
    "DOMAIN-SUFFIX,nflximg.net,Proxy",
    "DOMAIN-SUFFIX,nflxext.com,Proxy",
    "DOMAIN-SUFFIX,nflxso.net,Proxy",
    "DOMAIN-SUFFIX,nflxvideo.net,Proxy",
    "DOMAIN-SUFFIX,nyaa.si,Proxy",
    "DOMAIN-SUFFIX,on.cc,Proxy",
    "DOMAIN-SUFFIX,reuters.com,Proxy",
    "DOMAIN-SUFFIX,pinterest.com,Proxy",
    "DOMAIN-SUFFIX,pixiv.net,Proxy",
    "DOMAIN-SUFFIX,rfi.fr,Proxy",
    "DOMAIN-SUFFIX,scmp.com,Proxy",
    "DOMAIN-SUFFIX,shadowsocks.org,Proxy",
    "DOMAIN-SUFFIX,shutterstock.com,Proxy",
    "DOMAIN-SUFFIX,snapchat.com,Proxy",
    "DOMAIN-SUFFIX,spotify.com,Proxy",
    "DOMAIN-SUFFIX,static-economist.com,Proxy",
    "DOMAIN-SUFFIX,t.co,Proxy",
    "DOMAIN-SUFFIX,theinitium.com,Proxy",
    "DOMAIN-SUFFIX,tumblr.com,Proxy",
    "DOMAIN-SUFFIX,twimg.com,Proxy",
    "DOMAIN-SUFFIX,twitter.com,Proxy",
    "DOMAIN-SUFFIX,vid.me,Proxy",
    "DOMAIN-SUFFIX,vimeo.com,Proxy",
    "DOMAIN-SUFFIX,w3schools.com,Proxy",
    "DOMAIN-SUFFIX,wenxuecheng.com,Proxy",
    "DOMAIN-SUFFIX,wikileaks.ch,Proxy",
    "DOMAIN-SUFFIX,wikileaks.com,Proxy",
    "DOMAIN-SUFFIX,wikileaks.de,Proxy",
    "DOMAIN-SUFFIX,wikileaks.eu,Proxy",
    "DOMAIN-SUFFIX,wikileaks.lu,Proxy",
    "DOMAIN-SUFFIX,wikileaks.org,Proxy",
    "DOMAIN-SUFFIX,wikileaks.pl,Proxy",
    "DOMAIN-SUFFIX,wikileaks-forum.com,Proxy",
    "DOMAIN-SUFFIX,wikinews.org,Proxy",
    "DOMAIN-SUFFIX,wikipedia.org,Proxy",
    "DOMAIN-SUFFIX,wsj.com,Proxy",
    "DOMAIN-SUFFIX,beeg.com,Proxy",
    "DOMAIN-SUFFIX,pornhub.com,Proxy",
    "DOMAIN-SUFFIX,t66y.com,Proxy",
    "DOMAIN-SUFFIX,xvideos.com,Proxy",
    "DOMAIN-SUFFIX,youporn.com,Proxy"
]

[RULESET.boost]
name = "国外网站加速"
rules = [
    "DOMAIN-SUFFIX, amazon.com, PROXY",
    "DOMAIN-SUFFIX, amazonaws.com, PROXY",
    "DOMAIN-SUFFIX, archive.org, PROXY",
    "DOMAIN-SUFFIX, archive.is, PROXY",
    "DOMAIN-SUFFIX, archives.gov, PROXY",
    "DOMAIN-SUFFIX, appdownloader.net, PROXY",
    "DOMAIN-SUFFIX, apk-dl.com, PROXY",
    "DOMAIN-SUFFIX, apkfind.com, PROXY",
    "DOMAIN-SUFFIX, apkpure.com, PROXY",
    "DOMAIN-SUFFIX, apigee.com, PROXY",
    "DOMAIN-SUFFIX, aol.com, PROXY",
    "DOMAIN-SUFFIX, anthonycalzadilla.com, PROXY",
    "DOMAIN-SUFFIX, android-x86.org, PROXY",
    "DOMAIN-SUFFIX, ancsconf.org, PROXY",
    "DOMAIN-SUFFIX, allconnected.co, PROXY",
    "DOMAIN-SUFFIX, apkleecher.com, PROXY",
    "DOMAIN-SUFFIX, appsonplaystore.com, PROXY",
    "DOMAIN-SUFFIX, books.com.tw, PROXY",
    "DOMAIN-SUFFIX, bloomberg.com, PROXY",
    "DOMAIN-SUFFIX, bloglovin.com, PROXY",
    "DOMAIN-SUFFIX, bitshare.com, PROXY",
    "DOMAIN-SUFFIX, bitcointalk.org, PROXY",
    "DOMAIN-SUFFIX, bit.do, PROXY",
    "DOMAIN-SUFFIX, bit.ly, PROXY",
    "DOMAIN-SUFFIX, bigsound.org, PROXY",
    "DOMAIN-SUFFIX, bbtoystore.com, PROXY",
    "DOMAIN-SUFFIX, boxun.com, PROXY",
    "DOMAIN-SUFFIX, bandwagonhost.com, PROXY",
    "DOMAIN-SUFFIX, cnn.com, PROXY",
    "DOMAIN-SUFFIX, cdninstagram.com, PROXY",
    "DOMAIN-SUFFIX, cbc.ca, PROXY",
    "DOMAIN-SUFFIX, census.gov, PROXY",
    "DOMAIN-SUFFIX, cloudfront.net, PROXY",
    "DOMAIN-SUFFIX, cn-proxy.com, PROXY",
    "DOMAIN-SUFFIX, cccat.cc, PROXY",
    "DOMAIN-SUFFIX, dw.com, PROXY",
    "DOMAIN-SUFFIX, duckduckgo.com, PROXY",
    "DOMAIN-SUFFIX, dropbox.com, PROXY",
    "DOMAIN-SUFFIX, dropboxusercontent.com, PROXY",
    "DOMAIN-SUFFIX, disconnect.me, PROXY",
    "DOMAIN-SUFFIX, dcmilitary.com, PROXY",
    "DOMAIN-SUFFIX, digitaltrends.com, PROXY",
    "DOMAIN-SUFFIX, daolan.net, PROXY",
    "DOMAIN-SUFFIX, extmatrix.com, PROXY",
    "DOMAIN-SUFFIX, easybib.com, PROXY",
    "DOMAIN-SUFFIX, economist.com, PROXY",
    "DOMAIN-SUFFIX, edgecastcdn.net, PROXY",
    "DOMAIN-SUFFIX, facebook.com, PROXY",
    "DOMAIN-SUFFIX, facebook.net, PROXY",
    "DOMAIN-SUFFIX, fbcdn.net, PROXY",
    "DOMAIN-SUFFIX, freeopenproxy.com, PROXY",
    "DOMAIN-SUFFIX, fzlm.net, PROXY",
    "DOMAIN-SUFFIX, flitto.com, PROXY",
    "DOMAIN-SUFFIX, flipkart.com, PROXY",
    "DOMAIN-SUFFIX, flickr.com, PROXY",
    "DOMAIN-SUFFIX, getcloudapp.com, PROXY",
    "DOMAIN-SUFFIX, gunsamerica.com, PROXY",
    "DOMAIN-SUFFIX, gravatar.com, PROXY",
    "DOMAIN-SUFFIX, getlantern.org, PROXY",
    "DOMAIN-SUFFIX, getfoxyproxy.org, PROXY",
    "DOMAIN-SUFFIX, go.com, PROXY",
    "DOMAIN-SUFFIX, go.jp, PROXY",
    "DOMAIN-SUFFIX, gfw.press, PROXY",
    "DOMAIN-SUFFIX, howtoforge.com, PROXY",
    "DOMAIN-SUFFIX, hootsuite.com, PROXY",
    "DOMAIN-SUFFIX, homedepot.com, PROXY",
    "DOMAIN-SUFFIX, hulu.com, PROXY",
    "DOMAIN-SUFFIX, instagram.com, PROXY",
    "DOMAIN-SUFFIX, icoco.com, PROXY",
    "DOMAIN-SUFFIX, imgur.com, PROXY",
    "DOMAIN-SUFFIX, instructables.com, PROXY",
    "DOMAIN-SUFFIX, ift.tt, PROXY",
    "DOMAIN-SUFFIX, kenengba.com, PROXY",
    "DOMAIN-SUFFIX, logmein.com, PROXY",
    "DOMAIN-SUFFIX, mp3buscador.com, PROXY",
    "DOMAIN-SUFFIX, medium.com, PROXY",
    "DOMAIN-SUFFIX, mlssoccer.com, PROXY",
    "DOMAIN-SUFFIX, marketwatch.com, PROXY",
    "DOMAIN-SUFFIX, nih.gov, PROXY",
    "DOMAIN-SUFFIX, mycnnews.com, PROXY",
    "DOMAIN-SUFFIX, maplestage.com, PROXY",
    "DOMAIN-SUFFIX, nytimes.com, PROXY",
    "DOMAIN-SUFFIX, nytimg.com, PROXY",
    "DOMAIN-SUFFIX, nrk.no, PROXY",
    "DOMAIN-SUFFIX, newipnow.com, PROXY",
    "DOMAIN-SUFFIX, ndr.de, PROXY",
    "DOMAIN-SUFFIX, nasa.gov, PROXY",
    "DOMAIN-SUFFIX, netflix.com, PROXY",
    "DOMAIN-SUFFIX, nintendo.com, PROXY",
    "DOMAIN-SUFFIX, onlineyoutube.com, PROXY",
    "DOMAIN-SUFFIX, osha.gov, PROXY",
    "DOMAIN-SUFFIX, optimizely.com, PROXY",
    "DOMAIN-SUFFIX, psiphon3.com, PROXY",
    "DOMAIN-SUFFIX, puffinbrowser.com, PROXY",
    "DOMAIN-SUFFIX, pubu.com.tw, PROXY",
    "DOMAIN-SUFFIX, proxfree.com, PROXY",
    "DOMAIN-SUFFIX, popo.tw, PROXY",
    "DOMAIN-SUFFIX, pokemon.com, PROXY",
    "DOMAIN-SUFFIX, pastebin.com, PROXY",
    "DOMAIN-SUFFIX, pandora.com, PROXY",
    "DOMAIN-SUFFIX, rsf.org, PROXY",
    "DOMAIN-SUFFIX, rileyguide.com, PROXY",
    "DOMAIN-SUFFIX, rfi.fr, PROXY",
    "DOMAIN-SUFFIX, reuters.com, PROXY",
    "DOMAIN-SUFFIX, readmoo.com, PROXY",
    "DOMAIN-SUFFIX, readingtimes.com.tw, PROXY",
    "DOMAIN-SUFFIX, scribd.com, PROXY",
    "DOMAIN-SUFFIX, sydneytoday.com, PROXY",
    "DOMAIN-SUFFIX, surrenderat20.net, PROXY",
    "DOMAIN-SUFFIX, surfeasy.com.au, PROXY",
    "DOMAIN-SUFFIX, sugarsync.com, PROXY",
    "DOMAIN-SUFFIX, stumbleupon.com, PROXY",
    "DOMAIN-SUFFIX, storify.com, PROXY",
    "DOMAIN-SUFFIX, startpage.com, PROXY",
    "DOMAIN-SUFFIX, starp2p.com, PROXY",
    "DOMAIN-SUFFIX, state.gov, PROXY",
    "DOMAIN-SUFFIX, spike.com, PROXY",
    "DOMAIN-SUFFIX, sowers.org.hk, PROXY",
    "DOMAIN-SUFFIX, soundcloud.com, PROXY",
    "DOMAIN-SUFFIX, sockslist.net, PROXY",
    "DOMAIN-SUFFIX, snapchat.com, PROXY",
    "DOMAIN-SUFFIX, smh.com.au, PROXY",
    "DOMAIN-SUFFIX, slideshare.net, PROXY",
    "DOMAIN-SUFFIX, skype.com, PROXY",
    "DOMAIN-SUFFIX, sketchappsources.com, PROXY",
    "DOMAIN-SUFFIX, sidelinesnews.com, PROXY",
    "DOMAIN-SUFFIX, shadowsocks.org, PROXY",
    "DOMAIN-SUFFIX, search.com, PROXY",
    "DOMAIN-SUFFIX, sciencemag.org, PROXY",
    "DOMAIN-SUFFIX, ssa.gov, PROXY",
    "DOMAIN-SUFFIX, shutterstock.com, PROXY",
    "DOMAIN-SUFFIX, sciencedaily.com, PROXY",
    "DOMAIN-SUFFIX, signalsitemap.com, PROXY",
    "DOMAIN-SUFFIX, surge.run, PROXY",
    "DOMAIN-SUFFIX, twtkr.com, PROXY",
    "DOMAIN-SUFFIX, twimg.com, PROXY",
    "DOMAIN-SUFFIX, twitthat.com, PROXY",
    "DOMAIN-SUFFIX, twitterrific.com, PROXY",
    "DOMAIN-SUFFIX, twittercounter.com, PROXY",
    "DOMAIN-SUFFIX, twittergadget.com, PROXY",
    "DOMAIN-SUFFIX, twitterfeed.com, PROXY",
    "DOMAIN-SUFFIX, twitter4j.org, PROXY",
    "DOMAIN-SUFFIX, twttr.com, PROXY",
    "DOMAIN-SUFFIX, twitter.com, PROXY",
    "DOMAIN-SUFFIX, t.co, PROXY",
    "DOMAIN-SUFFIX, tv.com, PROXY",
    "DOMAIN-SUFFIX, tumblr.com, PROXY",
    "DOMAIN-SUFFIX, turbobit.net, PROXY",
    "DOMAIN-SUFFIX, tt-rss.org, PROXY",
    "DOMAIN-SUFFIX, trulyergonomic.com, PROXY",
    "DOMAIN-SUFFIX, trendsmap.com, PROXY",
    "DOMAIN-SUFFIX, transparency.org, PROXY",
    "DOMAIN-SUFFIX, traffichaus.com, PROXY",
    "DOMAIN-SUFFIX, torrentz.eu, PROXY",
    "DOMAIN-SUFFIX, torrentproject.se, PROXY",
    "DOMAIN-SUFFIX, torrentprivacy.com, PROXY",
    "DOMAIN-SUFFIX, torproject.org, PROXY",
    "DOMAIN-SUFFIX, torcn.com, PROXY",
    "DOMAIN-SUFFIX, tokyocn.com, PROXY",
    "DOMAIN-SUFFIX, togetter.com, PROXY",
    "DOMAIN-SUFFIX, tinychat.com, PROXY",
    "DOMAIN-SUFFIX, tiny.cc, PROXY",
    "DOMAIN-SUFFIX, time.com, PROXY",
    "DOMAIN-SUFFIX, thewgo.org, PROXY",
    "DOMAIN-SUFFIX, thepiratebay.org, PROXY",
    "DOMAIN-SUFFIX, thebobs.com, PROXY",
    "DOMAIN-SUFFIX, telegram.org, PROXY",
    "DOMAIN-SUFFIX, telegram.me, PROXY",
    "DOMAIN-SUFFIX, technorati.com, PROXY",
    "DOMAIN-SUFFIX, talkboxapp.com, PROXY",
    "DOMAIN-SUFFIX, talkonly.net, PROXY",
    "DOMAIN-SUFFIX, talk853.com, PROXY",
    "DOMAIN-SUFFIX, tabtter.jp, PROXY",
    "DOMAIN-SUFFIX, tablesgenerator.com, PROXY",
    "DOMAIN-SUFFIX, tomshardware.com, PROXY",
    "DOMAIN-SUFFIX, theverge.com, PROXY",
    "DOMAIN-SUFFIX, ustream.tv, PROXY",
    "DOMAIN-SUFFIX, uspto.gov, PROXY",
    "DOMAIN-SUFFIX, usma.edu, PROXY",
    "DOMAIN-SUFFIX, us.to, PROXY",
    "DOMAIN-SUFFIX, urlparser.com, PROXY",
    "DOMAIN-SUFFIX, uproxy.org, PROXY",
    "DOMAIN-SUFFIX, uploaded.net, PROXY",
    "DOMAIN-SUFFIX, untraceable.us, PROXY",
    "DOMAIN-SUFFIX, unpo.org, PROXY",
    "DOMAIN-SUFFIX, unblocksites.co, PROXY",
    "DOMAIN-SUFFIX, unblockdmm.com, PROXY",
    "DOMAIN-SUFFIX, uhdwallpapers.org, PROXY",
    "DOMAIN-SUFFIX, ugo.com, PROXY",
    "DOMAIN-SUFFIX, udn.com, PROXY",
    "DOMAIN-SUFFIX, uchicago.edu, PROXY",
    "DOMAIN-SUFFIX, usgs.gov, PROXY",
    "DOMAIN-SUFFIX, vpngate.net, PROXY",
    "DOMAIN-SUFFIX, vpnbook.com, PROXY",
    "DOMAIN-SUFFIX, vpnaccount.org, PROXY",
    "DOMAIN-SUFFIX, vocativ.com, PROXY",
    "DOMAIN-SUFFIX, visibletweets.com, PROXY",
    "DOMAIN-SUFFIX, vimperator.org, PROXY",
    "DOMAIN-SUFFIX, vimeo.com, PROXY",
    "DOMAIN-SUFFIX, vimeocdn.com, PROXY",
    "DOMAIN-SUFFIX, vidinfo.org, PROXY",
    "DOMAIN-SUFFIX, videomega.tv, PROXY",
    "DOMAIN-SUFFIX, vid.me, PROXY",
    "DOMAIN-SUFFIX, viber.com, PROXY",
    "DOMAIN-SUFFIX, veoh.com, PROXY",
    "DOMAIN-SUFFIX, venchina.com, PROXY",
    "DOMAIN-SUFFIX, vansky.com, PROXY",
    "DOMAIN-SUFFIX, vanpeople.com, PROXY",
    "DOMAIN-SUFFIX, van001.com, PROXY",
    "DOMAIN-SUFFIX, v2ray.com, PROXY",
    "DOMAIN-SUFFIX, verizonwireless.com, PROXY",
    "DOMAIN-SUFFIX, vzw.com, PROXY",
    "DOMAIN-SUFFIX, voachinese.com, PROXY",
    "DOMAIN-SUFFIX, wwitv.com, PROXY",
    "DOMAIN-SUFFIX, wsj.com, PROXY",
    "DOMAIN-SUFFIX, wordpress.com, PROXY",
    "DOMAIN-SUFFIX, wp.com, PROXY",
    "DOMAIN-SUFFIX, wow.com, PROXY",
    "DOMAIN-SUFFIX, worldcat.org, PROXY",
    "DOMAIN-SUFFIX, wn.com, PROXY",
    "DOMAIN-SUFFIX, wikipedia.org, PROXY",
    "DOMAIN-SUFFIX, wikileaks.info, PROXY",
    "DOMAIN-SUFFIX, wikileaks-forum.com, PROXY",
    "DOMAIN-SUFFIX, wikileaks.org, PROXY",
    "DOMAIN-SUFFIX, westpoint.edu, PROXY",
    "DOMAIN-SUFFIX, westca.com, PROXY",
    "DOMAIN-SUFFIX, wenxuecity.com, PROXY",
    "DOMAIN-SUFFIX, webwarper.net, PROXY",
    "DOMAIN-SUFFIX, websnapr.com, PROXY",
    "DOMAIN-SUFFIX, weblagu.com, PROXY",
    "DOMAIN-SUFFIX, webfreer.com, PROXY",
    "DOMAIN-SUFFIX, web2project.net, PROXY",
    "DOMAIN-SUFFIX, wattpad.com, PROXY",
    "DOMAIN-SUFFIX, w3schools.com, PROXY",
    "DOMAIN-SUFFIX, whatsapp.net, PROXY",
    "DOMAIN-SUFFIX, winudf.com, PROXY",
    "DOMAIN-SUFFIX, xuite.net, PROXY",
    "DOMAIN-SUFFIX, xanga.com, PROXY",
    "DOMAIN-SUFFIX, yahoo.com, PROXY",
    "DOMAIN-SUFFIX, yourlisten.com, PROXY",
    "DOMAIN-SUFFIX, youmaker.com, PROXY",
    "DOMAIN-SUFFIX, yorkbbs.ca, PROXY",
    "DOMAIN-SUFFIX, yidio.com, PROXY",
    "DOMAIN-SUFFIX, yes-news.com, PROXY",
    "DOMAIN-SUFFIX, yesasia.com, PROXY",
    "DOMAIN-SUFFIX, yeeyi.com, PROXY",
    "DOMAIN-SUFFIX, yasni.co.uk, PROXY",
    "DOMAIN-SUFFIX, yastatic.net, PROXY",
    "DOMAIN-SUFFIX, zacebook.com, PROXY",
    "DOMAIN-SUFFIX, zalmos.com, PROXY",
    "DOMAIN-SUFFIX, zaobao.com.sg, PROXY",
    "DOMAIN-SUFFIX, zeutch.com, PROXY",
    "DOMAIN-SUFFIX, 4everproxy.com, PROXY",
    "DOMAIN-SUFFIX, 4shared.com, PROXY"
]

[RULESET.telegram]
name = "Telegram"
rules = [
  "DOMAIN-SUFFIX, telegra.ph, PROXY",
  "DOMAIN-SUFFIX, telegram.org, PROXY",
  "IP-CIDR, 91.108.56.0/22, PROXY",
  "IP-CIDR, 91.108.4.0/22, PROXY",
  "IP-CIDR, 109.239.140.0/24, PROXY",
  "IP-CIDR, 149.154.164.0/22, PROXY",
  "IP-CIDR, 149.154.172.0/22, PROXY",
  "IP-CIDR, 149.154.160.0/22, PROXY",
  "IP-CIDR, 149.154.168.0/22, PROXY"
]

[RULESET.local]
name = "局域网直连"
rules = [
    "IP-CIDR, 127.0.0.0/8, DIRECT",
    "IP-CIDR, 172.16.0.0/12, DIRECT",
    "IP-CIDR, 192.168.0.0/16, DIRECT",
    "IP-CIDR, 100.64.0.0/10, DIRECT",
    "IP-CIDR, 10.0.0.0/8, DIRECT"
]

[RULESET.ADBLOCKAQIYI ]
name = "爱奇艺广告屏蔽"
rules = [
    "DOMAIN-SUFFIX,ad.m.iqiyi.com,REJECT",
    "DOMAIN-SUFFIX,afp.qiyi.com,REJECT",
    "DOMAIN-SUFFIX,api.cupid.iqiyi.com,REJECT",
    "DOMAIN-SUFFIX,c.uaa.iqiyi.com,REJECT",
    "DOMAIN-SUFFIX,ckm.iqiyi.com,REJECT",
    "DOMAIN-SUFFIX,cloudpush.iqiyi.com,REJECT",
    "DOMAIN-SUFFIX,cm.passport.iqiyi.com,REJECT",
    "DOMAIN-SUFFIX,emoticon.sns.iqiyi.com,REJECT",
    "DOMAIN-SUFFIX,gamecenter.iqiyi.com,REJECT",
    "DOMAIN-SUFFIX,hotchat-im.iqiyi.com,REJECT",
    "DOMAIN-SUFFIX,ifacelog.iqiyi.com,REJECT",
    "DOMAIN-SUFFIX,mbdlog.iqiyi.com,REJECT",
    "DOMAIN-SUFFIX,policy.video.iqiyi.com,REJECT",
    "DOMAIN-SUFFIX,rcd.iqiyi.com,REJECT",
    "IP-CIDR,117.139.18.141/24,REJECT,no-resolve",
    "IP-CIDR,183.221.247.189/24,REJECT,no-resolve"
]

[RULESET.ADBLOCKYOUTUBE ]
name = "Youtube广告屏蔽"
rules = [
    "DOMAIN-SUFFIX,ads.youtube.com,REJECT",
    "DOMAIN-SUFFIX,azabu-u.ac.jp,REJECT",
    "DOMAIN-SUFFIX,couchcoaster.jp,REJECT",
    "DOMAIN-SUFFIX,crt.comodoca.com,REJECT",
    "DOMAIN-SUFFIX,delivery.dmkt-sp.jp,REJECT",
    "DOMAIN-SUFFIX,ehg-youtube.hitbox.com,REJECT",
    "DOMAIN-SUFFIX,m-78.jp,REJECT",
    "DOMAIN-SUFFIX,nichibenren.or.jp,REJECT",
    "DOMAIN-SUFFIX,nicorette.co.kr,REJECT",
    "DOMAIN-SUFFIX,ssl-youtube.2cnt.net,REJECT",
    "DOMAIN-SUFFIX,youtube.112.2o7.net,REJECT",
    "DOMAIN-SUFFIX,youtube.2cnt.net,REJECT
]

[RULESET.ADBLOCKYOUKUTUDOU]
name = "优酷土豆广告屏蔽"
rules = [
    "DOMAIN-SUFFIX,actives.youku.com,REJECT",
    "DOMAIN-SUFFIX,ad.api.3g.tudou.com,REJECT",
    "DOMAIN-SUFFIX,ad.api.3g.youku.com,REJECT",
    "DOMAIN-SUFFIX,ad.api.mobile.youku.com,REJECT",
    "DOMAIN-SUFFIX,ad.mobile.youku.com,REJECT",
    "DOMAIN-SUFFIX,adcontrol.tudou.com,REJECT",
    "DOMAIN-SUFFIX,adplay.tudou.com,REJECT",
    "DOMAIN-SUFFIX,a-dxk.play.api.3g.youku.com,REJECT",
    "DOMAIN-SUFFIX,api.gamex.mobile.youku.com,REJECT",
    "DOMAIN-SUFFIX,atm.youku.com,REJECT",
    "DOMAIN-SUFFIX,b.smartvideo.youku.com,REJECT",
    "DOMAIN-SUFFIX,c.yes.youku.com,REJECT",
    "DOMAIN-SUFFIX,das.api.youku.com,REJECT",
    "DOMAIN-SUFFIX,das.mobile.youku.com,REJECT",
    "DOMAIN-SUFFIX,dev-push.m.youku.com,REJECT",
    "DOMAIN-SUFFIX,dl.g.youku.com,REJECT",
    "DOMAIN-SUFFIX,e.stat.ykimg.com,REJECT",
    "DOMAIN-SUFFIX,e.stat.youku.com,REJECT",
    "DOMAIN-SUFFIX,gamex.mobile.youku.com,REJECT",
    "DOMAIN-SUFFIX,goods.tudou.com,REJECT",
    "DOMAIN-SUFFIX,guanggaoad.youku.com,REJECT",
    "DOMAIN-SUFFIX,hudong.pl.youku.com,REJECT",
    "DOMAIN-SUFFIX,hz.youku.com,REJECT",
    "DOMAIN-SUFFIX,iwstat.tudou.com,REJECT",
    "DOMAIN-SUFFIX,iyes.youku.com,REJECT",
    "DOMAIN-SUFFIX,l.ykimg.com,REJECT",
    "DOMAIN-SUFFIX,l.youku.com,REJECT",
    "DOMAIN-SUFFIX,lstat.youku.com,REJECT",
    "DOMAIN-SUFFIX,lvip.youku.com,REJECT",
    "DOMAIN-SUFFIX,mobilemsg.youku.com,REJECT",
    "DOMAIN-SUFFIX,msg.youku.com,REJECT",
    "DOMAIN-SUFFIX,nstat.tudou.com,REJECT",
    "DOMAIN-SUFFIX,p.l.ykimg.com,REJECT",
    "DOMAIN-SUFFIX,p.l.youku.com,REJECT",
    "DOMAIN-SUFFIX,passport-log.youku.com,REJECT",
    "DOMAIN-SUFFIX,p-log.ykimg.com,REJECT",
    "DOMAIN-SUFFIX,push.m.youku.com,REJECT",
    "DOMAIN-SUFFIX,r.l.youku.com,REJECT",
    "DOMAIN-SUFFIX,s.p.youku.com,REJECT",
    "DOMAIN-SUFFIX,sdk.m.youku.com,REJECT",
    "DOMAIN-SUFFIX,stat.tudou.com,REJECT",
    "DOMAIN-SUFFIX,stat.youku.com,REJECT",
    "DOMAIN-SUFFIX,static.lstat.youku.com,REJECT",
    "DOMAIN-SUFFIX,statis.api.3g.youku.com,REJECT",
    "DOMAIN-SUFFIX,stats.tudou.com,REJECT",
    "DOMAIN-SUFFIX,store.tv.api.3g.youku.com,REJECT",
    "DOMAIN-SUFFIX,store.xl.api.3g.youku.com,REJECT",
    "DOMAIN-SUFFIX,tdrec.youku.com,REJECT",
    "DOMAIN-SUFFIX,test.ott.youku.com,REJECT",
    "DOMAIN-SUFFIX,test.sdk.m.youku.com,REJECT",
    "DOMAIN-SUFFIX,urchin.lstat.youku.com,REJECT",
    "DOMAIN-SUFFIX,v.l.youku.com,REJECT",
    "DOMAIN-SUFFIX,val.api.youku.com,REJECT",
    "DOMAIN-SUFFIX,wan.youku.com,REJECT",
    "DOMAIN-SUFFIX,ykatr.youku.com,REJECT",
    "DOMAIN-SUFFIX,ykrec.youku.com,REJECT",
    "DOMAIN-SUFFIX,ykrectab.youku.com,REJECT"
]


    
